/*Apply the necessary configuration for the Barlow font face */
@font-face {
    font-family: "Barlow";
    src: url("/font/Barlow-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow";
    src: url("/font/Barlow-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Barlow";
    src: url("/Barlow-Italic.ttf") format('truetype');
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("/font/Barlow-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Barlow";
    src: url("/font/Barlow-Italic.ttf") format('truetype');
    font-style: italic;
}

/*CSS configuration of the website*/
.barlow-bold-italic {
    font-family: "Barlow", serif;
    font-weight: 700;
    font-style: italic;
}

.barlow-bold {
    font-family: "Barlow", serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-semibold-italic {
    font-family: "Barlow", serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-semibold {
    font-family: "Barlow", serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-medium-italic {
    font-family: "Barlow", serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-medium {
    font-family: "Barlow", serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-regular-italic {
    font-family: "Barlow", serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-regular, p {
    font-family: "Barlow", serif !important;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', serif !important;
    font-style: normal;
    font-weight: bold !important;
    color: #212121;
}

h1 {
    font-size: 48px !important;
    line-height: 52px !important;
}

h2 {
    font-size: 40px !important;
    line-height: 48px !important;
}

h3 {
    font-size: 33px !important;
    line-height: 40px !important;
}

h4 {
    font-size: 28px;
    line-height: 24px;
}

h5 {
    font-size: 23px !important;
    line-height: 32px !important;
}

h6 {
    font-size: 20px !important;
    line-height:24px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 30px !important;
        line-height: normal;
    }

    h2 {
        font-size: 30px !important;
        line-height: normal !important;
    }
}

.heading-lg {
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
}

.heading-md {
    font-size: 28px;
    line-height: 32px;
}

.heading-sm {
    font-size: 24px;
    line-height: 30px;
}

.title-lg {
    font-size: 22px;
    line-height: 26px;
}

.title-md {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.title-sm {
    font-size: 14px;
    line-height: 17px;
}

.label-lg {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}

.label-md {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
}

.label-sm {
    font-size: 11px;
    font-weight: bold;
    line-height: 48px;
}

.bold-lg {
    font-size: 16px;
    line-height: 27px;
}

.bold-md {
    font-size: 14px;
    line-height: 24px !important;
}

.bold-sm {
    font-size: 12px;
    line-height: 48px;
}

.regular-lg {
    font-size: 16px !important;
    line-height: 27px !important;
}


.regular-md {
    font-size: 14px;
    font-weight: bold;
    line-height: 48px;
}

.regular-sm {
    font-size: 12px;
    line-height: 48px;
}

p, button {
    line-height: 27px !important;
    font-size: 16px;
}


body {
    /*font-family: 'Barlow', serif;*/
    background: #fff !important;
    font-family: 'Barlow', serif;
    color: #212121 !important;
    font-weight: 400;
    font-style: normal;
}

/*Navigation bar styling */
.active {
    color: #FF9719 !important;
    background: rgba(255, 255, 255, 0.64);
}

.active svg {
    color: #FF9719 !important;
}

.link-item .dropdown {
    display: none !important;
    border-radius: 0 !important;
}

.link-item:hover .dropdown {
    display: block !important;
}

.list-item .dropdown a {
    border-radius: 0 !important;
}

.list-item:hover .dropdown a {
    border-radius: 0 !important;
}

h2:before {
    left: calc(50% - 36px);
    bottom: -10px;
}

.header-text:before {
    left: calc(50% - 36px);
}

/* Some Hero description */
@media (min-width: 768px) {
    .hero-section {
        min-height: calc(90vh - 93px);
    }
}
.getting-shadow {
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15) !important;
}

.getstarted-shadow {
    box-shadow: 0px 4px 60px 0px rgba(4, 134, 220, 0.1);
}

.why-work-with-us-shadow {
    box-shadow: 0px 4px 60px 0px rgba(4, 134, 220, 0.1);
}

.shadow-card-steps {
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.1) ;
}